.bar {
    height: 4.75rem;
    width: 100vw;
    bottom: 0;
}

.nav-link-text {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: visibility 0s, width 0, opacity 0.5s linear;
    width: 0;
}

.my-brand {
    display: none;
}

@media (min-width: 576px) {
    .bar {
        height: 100vh;
        width: 4.75rem;
        transition: width .3s ease-in-out;
    }

    .bar:hover {
        width: 225px;
    }

    .bar:hover .nav-link-text {
        display: inline-block;
        margin-left: 6px;
        width: 130px;
        transition: all 1s;
        visibility: visible;
        opacity: 1;
    }

    .my-brand {
        display: block;
    }
}