.bar {
    height: 4.75rem;
    width: 100vw;
    bottom: 0%;
}

.container-box {
    height: 100dvh;
    width: 100dvw;
}

.nav-link-text {
    display: none;
    height: 0;
    opacity: 0;
    text-align: center;
    transition: visibility 0s, width 0, opacity 0.3s ease-in-out;
    width: 0;
}

.my-brand {
    display: none;
}

@media (min-width: 576px) {
    .nav-link-text {
        display: inline-block;
    }

    .bar {
        height: 100vh;
        width: 4.75rem;
        transition: width .3s ease-in-out;
    }

    .bar:hover {
        width: 225px;
    }

    .bar:hover .nav-link-text {
        display: inline-block;
        margin-left: 6px;
        width: 130px;
        transition: all .3s ease-in-out;
        visibility: visible;
        opacity: 1;
    }

    .my-brand {
        display: block;
    }
}