.bar {}

.nav-link-text {
    display: none;
    height: 0;
    opacity: 0;
    text-align: center;
    transition: visibility 0s, width 0, opacity 0.3s ease-in-out;
    width: 0;
}

.my-brand {
    display: none;
}

@media (min-width: 576px) {
    .nav-link-text {
        display: inline-block;
    }

    .bar {}

    .bar:hover {}

    .bar:hover .nav-link-text {}

    .my-brand {}
}