.main-container {
    padding-bottom: 4.75rem;
}

@media (min-width: 576px) {
    .main-container {
        padding: 0 2.5rem;
        max-width: 90%;
        position: relative;
    }

}

.main-card {
    position: relative;
    transition: scale .5s;
    animation: autoShow both;
    animation-timeline: view(90% 10%);
}

.scroll-container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.main-card-container {
    scroll-snap-align: center;
    position: relative;
    animation: avoidHover both;
    animation-timeline: view(100% 70%);
}

/* @keyframes autoShow {
    from {
        opacity: 0;
        transform: translatex(100px);
    }

    to {
        opacity: 1;
        transform: translatex(0);
    }
} */

/* @keyframes avoidHover {
    from {
        pointer-events: none;
    }

    to {
        pointer-events: all;
    }
} */

.main-card-container::after

/* .main-card::before  */
    {
    --angle: 0deg;
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 11px;
    left: 11px;
    border-radius: var(--bs-border-radius);
    animation: autoShow both;
    z-index: -3;
}

/* .main-card::before {
    z-index: -2;
    filter: blur(20px);
    opacity: .7;
} */

.main-card:hover {
    border-color: transparent;
    scale: 1.05;
}

.main-card-container:has(> .main-card:hover)::after {
    transition: scale .5s;
    scale: 1.05;
    animation: glowing-border 3.5s linear infinite;
    background: conic-gradient(from var(--angle), transparent, var(--bs-border-color-translucent), transparent, var(--bs-border-color-translucent));
}

/* .main-card:hover::before {
    animation: blur-effect 3.5s linear infinite;
} */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes glowing-border {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.my-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.my-form-control:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
    outline: none;
    color: white;
}

.my-form-control::-webkit-input-placeholder {
    color: var(--bs-tertiary-color);
    transition: color .15s ease-in-out;
}

.my-form-control:focus::-webkit-input-placeholder {
    color: var(--bs-body-color);
}

/* @keyframes blur-effect {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(19px);
    }
} */