.main-card {
    position: relative;
    /* animation: autoShow both;
    animation-timeline: view(70% 5%); */
}

/* @keyframes autoShow {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
} */

.main-card::after

/* .main-card::before  */
    {
    --angle: 0deg;
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: var(--bs-border-radius);
    z-index: -1;
    background-color: transparent;
}

/* .main-card::before {
    z-index: -2;
    filter: blur(20px);
    opacity: .7;
} */

.main-card:hover {
    border-color: transparent;
}

.main-card:hover::after {
    animation: glowing-border 3.5s linear infinite;
    background: conic-gradient(from var(--angle), transparent, var(--bs-border-color-translucent), transparent, var(--bs-border-color-translucent));
}

/* .main-card:hover::before {
    animation: blur-effect 3.5s linear infinite;
} */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes glowing-border {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* @keyframes blur-effect {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(19px);
    }
} */